$base-color-chrome: #000;
$light-blue:#3599db;
$very-light-grey: #f5f5f5;

$applePassHeight: 380px;
$applePassWidth: 270px;

@import "_font";

pk-apple-pass {
    display: block;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    @import "../node_modules/bootstrap/dist/css/bootstrap.css";
    @import "pk-apple-pass/_pk-apple-pass";
}