$base-color-chrome: #000;
$light-blue:#3599db;
$very-light-grey: #f5f5f5;

$applePassHeight: 380px;
$applePassWidth: 270px;

pk-apple-pass {
    margin:20px;
    display: block;
    @import "pk-apple-pass/_pk-apple-pass";
}

pk-apple-pass {
    a {
        cursor: pointer;
    }
    @media print {
        .no-print {
            display:none !important;
        }
    }
    .row {
        margin:0 !important;
    }
    
    #appleDisplay{
        width: $applePassWidth;
        margin: auto;
    }
}